.loader-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.movie-collection-list {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 0px;
  padding: 10px;
}

.pop-head {
  padding: 15px;
  font-family: 'Roboto';
}
