.loader-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.movie-collection-list {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 0px;
  padding: 10px;
}

.pop-head {
  padding: 15px;
  font-family: 'Roboto';
}

/* 
.popular {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 32px;
}
.EachImage {
  margin-top: 12px;
  margin-bottom: 12px;
}
.upComingMovie-image {
  height: 300px;
}
.upComingMovie-title {
  font-size: 15px;
}
.Page-head {
  margin-left: 33px;
  color: rgb(40, 56, 43);
  font-size: 32px;
}
.button-viewDetails {
  border: 1px solid goldenrod;
  color: blue;
  cursor: pointer;
}
*/
