.castingTeam {
  height: 200px;
}
.castFlexing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.eachCastMember {
  height: 300px;
  width: 200px;
  margin: 12px;
}
.flexing-movie-image-and-details {
  display: flex;
  flex-direction: row;
}
.moviePoster {
  margin-right: 12px;
  height: 400px;
  padding: 8px;
}
.movie-name {
  font-family: 'Roboto';
  font-size: 25px;
  color: rgb(90, 63, 68);
}
.rating {
  color: rgb(35, 20, 20);
  font-weight: 600;
  font-family: 'Roboto';
}
.duration {
  color: rgb(35, 20, 20);
  font-weight: 600;
  font-family: 'Roboto';
}
.releaseDate {
  color: rgb(35, 20, 20);
  font-weight: 600;
  font-family: 'Roboto';
}
.movie-overview {
  color: rgb(35, 20, 20);

  font-family: 'Roboto';
  padding-right: 8px;
}

.casting {
  padding-left: 22px;
  color: rgb(10, 6, 6);
  font-family: 'Roboto';
}
.original-name {
  color: rgb(35, 20, 20);
  font-weight: 600;
  font-family: 'Roboto';
}
.charactor-name {
  color: grey;
  font-weight: 400;
  font-family: 'Roboto';
}
@media screen and (max-width: 767px) {
  .movie-name {
    font-size: 15px;
  }
  .moviePoster {
    height: 340px;
    width: 200px;
    padding: 8px;
  }
  .casting {
    padding-left: 22px;
  }
  .original-name {
    color: rgb(35, 20, 20);
    font-weight: 600;
  }
  .charactor-name {
    color: grey;
    font-weight: 400;
  }
}
