.castingTeam {
  height: 200px;
}
.castFlexing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.eachCastMember {
  height: 300px;
  width: 200px;
  margin: 12px;
}
.flexing-movie-image-and-details {
  display: flex;
  flex-direction: row;
}
.moviePoster {
  margin-right: 12px;
  height: 400px;
  padding: 8px;
}
.movie-name {
  font-family: 'Roboto';
  font-size: 25px;
  color: rgb(90, 63, 68);
}
.rating {
  color: rgb(35, 20, 20);
  font-weight: 600;
  font-family: 'Roboto';
}
.duration {
  color: rgb(35, 20, 20);
  font-weight: 600;
  font-family: 'Roboto';
}
.releaseDate {
  color: rgb(35, 20, 20);
  font-weight: 600;
  font-family: 'Roboto';
}
.movie-overview {
  color: rgb(35, 20, 20);

  font-family: 'Roboto';
  padding-right: 8px;
}

.casting {
  padding-left: 22px;
  color: rgb(10, 6, 6);
  font-family: 'Roboto';
}
.original-name {
  color: rgb(35, 20, 20);
  font-weight: 600;
  font-family: 'Roboto';
}
.charactor-name {
  color: grey;
  font-weight: 400;
  font-family: 'Roboto';
}
@media screen and (max-width: 767px) {
  .movie-name {
    font-size: 15px;
  }
  .moviePoster {
    height: 340px;
    width: 200px;
    padding: 8px;
  }
  .casting {
    padding-left: 22px;
  }
  .original-name {
    color: rgb(35, 20, 20);
    font-weight: 600;
  }
  .charactor-name {
    color: grey;
    font-weight: 400;
  }
}

/* 
.castingTeam {
  height: 200px;
}
.castFlexing {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.eachCastMember {
  height: 300px;
  width: 200px;
  margin: 12px;
}
.flexing-movie-image-and-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.moviePoster {
  margin-right: 12px;
  height: 400px;
  padding: 8px;
}
.movie-name {
  font-size: 25px;
  color: rgb(90, 63, 68);
}
.rating {
  color: rgb(35, 20, 20);
  font-weight: 600;
}
.duration {
  color: rgb(35, 20, 20);
  font-weight: 600;
}
.releaseDate {
  color: rgb(35, 20, 20);
  font-weight: 600;
}
.movie-overview {
  color: rgb(35, 20, 20);

  font-family: 'Roboto';
  padding-right: 8px;
}

.casting {
  padding-left: 22px;
  color: rgb(10, 6, 6);
}
.original-name {
  color: rgb(35, 20, 20);
  font-weight: 600;
}
.charactor-name {
  color: rgb(35, 20, 20);
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .movie-name {
    font-size: 15px;
  }
  .moviePoster {
    height: 340px;
    width: 200px;
    padding: 8px;
  }
  .casting {
    padding-left: 22px;
  }
  .original-name {
    color: rgb(35, 20, 20);
    font-weight: 600;
  }
  .charactor-name {
    color: rgb(35, 20, 20);
    font-weight: 600;
  }
}

.navBarBg {
  background-color: limegreen;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-size: cover;
}
.links {
  text-decoration: none;
}
.inputDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.movie-DB {
  font-size: 25px;
}
.PopularHeading {
  font-size: 25px;
}
.TopRatedHeading {
  font-size: 25px;
}
.UpcomingHeading {
  font-size: 25px;
}
.Input {
  width: 170px;
}
.search {
  width: 88px;
}

@media screen and (max-width: 767px) {
  .PopularHeading {
    font-size: 12px;
  }
  .UpcomingHeading {
    font-size: 12px;
  }
  .movie-DB {
    font-size: 12px;
  }
  .TopRatedHeading {
    font-size: 12px;
  }
  .search {
    width: 86px;
    margin-bottom: 15px;
  }
  .Input {
    width: 164px;
    margin-bottom: 12px;
  }
}

.Links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 650px;
}

@media screen and (max-width: 767px) {
  .Links {
    width: 250px;
  }
  .navBarBg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
*/