.loader-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.movie-collection-list {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding-left: 0px;
  padding: 10px;
}

.pop-head {
  padding: 15px;
  font-family: 'Roboto';
}

/* 
.popular {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.EachImage {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 330px;
}
.movieImage {
  height: 300px;
}
.Title {
  font-size: 15px;
  font-family: 'Roboto';
}
.Page-head {
  color: rgb(40, 56, 43);
  font-size: 32px;
}

.button-viewDetails {
  border: 1px solid goldenrod;
  color: blue;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 27px;
  font-weight: 500;
  font-family: 'Roboto';
}
.Pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 22px;
  padding-right: 93px;
}
.Rating {
  color: rgb(56, 55, 49);
  font-weight: 550;
  font-family: 'Roboto';
}

@media screen and (max-width: 767px) {
  .EachImage {
    width: 350px;
  }
  .popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
 */
